################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PatientCare.API/PatientCare.API.Framework/.vs
